<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Midterm Survey</title>
</head>
<body>
<h1>Midterm Survey</h1>


<form action="#" method="post">

    <label>Name
        <input type="text" name="name">
    </label><br>
    <check if="{{ isset(@errors['name'])}}">
        <p>{{ @errors['name']}}</p>
    </check>

    <label>Check all that apply:
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="survey[]" value="This midterm is easy"
                <check if="{{ @survey === 'This midterm is easy' }}">checked</check>>
                This midterm is easy
            </label><br>
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="survey[]" value="I like midterms"
                <check if="{{ @survey === 'I like midterms' }}">checked</check>>
                I like midterms
            </label><br>
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="survey[]" value="Today is Monday"
                <check if="{{ @survey === 'Today is Monday' }}">checked</check>>
                Today is Monday
            </label>
        </div>
    </label>

    <check if="{{ isset(@errors['survey'])}}">
        <p>{{ @errors['survey']}}</p>
    </check>

    <button type="submit">Submit</button>
</form>


</body>
</html>